<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>
	<form action="/process" method="POST">
		<label for="query">Текст запроса</label>
		<input type="text" name="query">
		<br>
		<label for="email">Адрес почты, куда необходимо отправить файл</label>
		<input type="email" name="email">
		<br>
		<label for="login">Учетка, с которой будет осуществлен вход на сайт</label>
		<input type="text" name="login">
		<br>
		<label for="password">Пароль учетки</label>
		<input type="password" name="password">
		<br>
		<br>
		<br>
		<input type="submit" name="go" value="Поехали">
	</form>
</body>
</html>